# Python build
__pycache__
*.egg-info/

# JS deps
node_modules/

# Compiled javascript
*.map
dist/
jupyros/nbextension/
jupyros/labextension/

# Examples
.ipynb_checkpoints/

# Others
build/
*.py[cod]

# OS X
.DS_Store

## Ros2 Incompleted Modules
jupyros/ros2/turtle_sim.py
notebooks/ROS2_Turtlesim.ipynb
