# Python build
__pycache__
*.egg-info/

# JS deps
node_modules/

# Compiled javascript
*.map
dist/
jupyros/nbextension/
jupyros/labextension/

#Tesing files
Testing_3d.ipynb

# Examples
.ipynb_checkpoints/

# Others
build/
*.py[cod]

# OS X
.DS_Store
