include LICENSE
include *.md
include pyproject.toml

graft jupyros/ros1
graft jupyros/ros2
include jupyros/_version.py
include jupyros/__init__.py
include js/package.json

# Extensions
graf js
graft jupyros/nbextension
graft jupyros/labextension
include install.json
include jupyros/jupyter-ros.json
include jupyros/jupyros_server_extension.json

prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
